<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for accessing external storage (consider removing if not needed) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Truefriends"
        android:name=".MyApp"
        tools:targetApi="31">

        <!-- ResultPage Activity -->
        <activity
            android:name=".ResultPage"
            android:exported="false" />

        <!-- QuestionActivity Activity -->
        <activity
            android:name=".QuestionActivity"
            android:exported="false" />

        <!-- RulesActivity Activity -->
        <activity
            android:name=".RulesActivity"
            android:exported="false" />

        <!-- Third Activity -->
        <activity
            android:name=".Third"
            android:exported="false" />

        <!-- Second Activity -->
        <activity android:name=".Second" />

        <!-- MainActivity (Launcher Activity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
